<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petpple.kiwi.sitter.repository.IVsitterMapper">

	<!-- 방문 서비스 수락 대기중 -->
    <select id="waitingAccept" resultType="java.lang.Integer">
	<![CDATA[
    	SELECT COUNT(*) AS COUNT
		FROM MEMBER M JOIN TMP_MEM TM
		ON M.TMP_MEMBER_ID = TM.T_MEM_ID
		JOIN PET_SHARE PS
		ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
		JOIN V_PET_CHO VPC
		ON PS.P_SHA_ID = VPC.P_SHA_ID
		JOIN V V
		ON VPC.V_ID = V.V_ID
		JOIN S_ALLOW SA
		ON V.S_ALL_ID = SA.S_ALL_ID
		JOIN S_APPLY S
		ON SA.S_APP_ID = S.S_APP_ID
		JOIN V_RESERV VR
		ON V.V_ID = VR.V_ID
		JOIN PAY P
		ON P.P_ID = V.PAYMENT_ID
		WHERE TMP_MEMBER_ID='UV8YF0IN08'
    ]]>
<!-- 		AND SYSDATE >= V.V_START_DATE -->
<!-- 		AND SYSDATE <= V.V_END_DATE -->
    </select>

	<!-- 지난 펫시팅 이력 -->
    <select id="sumPetsitting" resultType="java.lang.Integer">
    	SELECT *
		FROM VIEW_SUM_PETSITTING
    </select>

	<!-- 위탁 서비스 펫시팅 현황  -->
    <select id="waitingFacceptance" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS COUNT
		FROM VIEW_WAITING_FACCEPTANCE
    </select>
    
    <select id="sumFpetsitting" resultType="java.lang.Integer">
    	SELECT COUNT(*) AS COUNT
		FROM VIEW_SUM_FPETSITTING
    </select>
    
    <!-- 진행중인 펫시팅 -->
    <select id="currentPetsitting" resultType="Vsitter">
	   	SELECT V_ID AS vid, V_CLI_ADDR AS addr, TO_CHAR(V_START_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS startDate
			, TO_CHAR(V_END_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS endDate, TO_CHAR(V_REQ_DATE, '""YYYY"년 "MM"월 "DD"일 "HH" : "MI"') AS reqDate
			, P_TOTAL - (P_TOTAL * 0.1) AS totalPrice
			, MEM_NICKNAME AS clientNickname
		FROM MEMBER M JOIN TMP_MEM TM
		ON M.TMP_MEMBER_ID = TM.T_MEM_ID
		JOIN PET_SHARE PS
		ON TM.T_MEM_ID = PS.TMP_MEMBER_ID
		JOIN V_PET_CHO VPC
		ON PS.P_SHA_ID = VPC.P_SHA_ID
		JOIN V V
		ON VPC.V_ID = V.V_ID
		JOIN S_ALLOW SA
		ON V.S_ALL_ID = SA.S_ALL_ID
		JOIN S_APPLY S
		ON SA.S_APP_ID = S.S_APP_ID
		JOIN V_RESERV VR
		ON V.V_ID = VR.V_ID
		JOIN PAY P
		ON P.P_ID = V.PAYMENT_ID
		WHERE TM.T_MEM_ID = 'UV8YF0IN08'
		AND SYSDATE <![CDATA[<]]>= V.V_END_DATE
		AND SYSDATE <![CDATA[>]]>= V.V_START_DATE
	</select>
	
	
</mapper>